html, body {
    font-size: 15px;
    margin: 0;
    color: #000;
    background-color: #FAFAFA;
    font-family: "Sansation", sans-serif;
}

header {
    width: 100vw;
    height: 50rem;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, #80ced6, #d5f4e6);
    filter: drop-shadow(10px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 10px 5px rgba(0,0,0,0.1);
}

header p {
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0;
    font-family: "Bowlby One SC", sans-serif;
    font-size: 100px;
    color: #fafafa;
    text-shadow: 0 0 50px #308a87;
}
header p:nth-child(2) {
    animation-delay: 0.3s;
}

#course-num {
    padding: 10rem 0 0 0;
    font-size: 11rem;
}

#course-name {
    font-size: 5rem;
}

#headings {
    margin: 0;
    color: #000;
    text-align: center;
    width: 100vw;
    height: 45rem;
}

#h1:hover,
#h2:hover,
#h3:hover,
#h4:hover,
#h5:hover,
#h6:hover {
    transform: scale(1.05);
    transition: 0.3s ease-out;
}

#h1:active,
#h2:active,
#h3:active,
#h4:active,
#h5:active,
#h6:active {
    transform: rotate(360deg);
    transition: 0.3s ease-out;
}

#h1 {
    font-size: 5rem;
    padding: 1rem 0;
    color: #7dd0ae;
    text-shadow: 0 0 16px #abedd1;
}
#h2 {
    font-size: 4rem;
    padding: 1rem 0;
    color: 	#66bf9b;
    text-shadow: 0 0 16px #abedd1;
}
#h3 {
    font-size: 3rem;
    padding: 1rem 0;
    color: #53a584;
    text-shadow: 0 0 16px #abedd1;
}
#h4 {
    font-size: 2rem;
    padding: 1rem 0;
    color: #479071;
    text-shadow: 0 0 16px #abedd1;
}
#h5 {
    font-size: 1.5rem;
    padding: 1rem 0;
    color: #387e62;
    text-shadow: 0 0 16px #abedd1;
}
#h6 {
    font-size: 1rem;
    padding: 1rem 0;
    color: #063e33;
    text-shadow: 0 0 16px #abedd1;
}

#welcome {
    background: linear-gradient(135deg, #7ADFBB, #92ffe9);
    border-radius: 25px 25px 60px 60px;
    text-align: center;
    margin: 4rem auto 2rem auto;
    padding: 2rem;
    max-width: 900px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#welcome:hover {
    transform: scale(1.05);
    transition: 0.4s ease-out;
}

#welcome p {
    margin: 8px 0;
    padding: 10px;
}

#p1 {
    font-size: 2.2rem;
    font-weight: 600;
}
#p2 {
    font-size: 1.6rem;
    font-weight: 400;
}

#table {
    background: linear-gradient(#acfeef, #e0fff9, #FAFAFA);
    border-radius: 40px 40px 0 0;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 90%;
    overflow-x: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#table:hover {
    transform: scale(1.02);
    transition: 0.4s ease-out;
}

#table h2 {
    text-align: center;
    font-size: 1.8rem;
    margin: 0 0 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #78dbbd;
    padding: 1rem;
}

th {
    background-color: #78dbbd;
    color: #fff;
}

th {
    background-color: #78dbbd;
    padding: 1rem;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#form:hover {
    transform: scale(1.05);
    transition: 0.4s ease-out;
}

#form h2 {
    margin: 1.8rem 0;
    text-align: center;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

form {
    position: relative;
    padding: 2rem 5.5rem 3rem 5rem;
    margin: 0;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

form::after, form::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),#42F2F7, #46ACC2);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 5px;
    animation: 8s spin linear infinite;
}

form::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

input {
    margin: 5px 0 0 0;
}

label {
    margin: 5px;
    font-weight: 600;
}

input[type="text"], input[type="email"], input[type="number"]{
    display: block;
    width: 100%;
    height: 1rem;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}

input[type="submit"] {
    border-style: none;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #99e1d9, #70abaf);
    color: #fafafa;
    font-weight: 600;
    font-size: 1.1rem;
    width: 100%;
    height: 2.8rem;
    border: #02574c;
}

input[type="submit"]:hover {
    border: #59c9a5 solid 2px;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

.radio label, .checkbox label{
    font-style: italic;
    font-weight: 400;
}

#images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 0 0 1.5rem 0;
    padding: 1.8rem 0 1rem 0;
}

#images:hover {
    transform: scale(1.02);
    transition: 0.4s ease-out;
}


#img-head {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0 0 0;
}

#img-head:hover {
    transform: scale(1.1);
    transition: 0.4s ease-out;
}

#images .mango, 
#images .banana, 
#images .strawberry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#images .mango:hover,
#images .banana:hover,
#images .strawberry:hover {
    transform: scale(1.1);
    transition: 0.8s ease-out;
}

#images img {
    width: 25rem;
    height: 21rem;
    object-fit: cover;
    border-radius: 0 0 4rem 4rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#images label {
    font-size: 1.5rem;
    padding: 10px;
}

.list-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

#list h2 {
    text-align: center;
    font-size: 2rem;
}

#list h2:hover {
    transform: scale(1.1);
    transition: 0.4s ease-out;
}

#list li {
    padding: 0.2rem 1rem;
    font-size: 1.3rem;
}

#list li:hover {
    transform: scale(1.03);
    transition: 0.6s ease-out;
}

footer {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #e0fff9;
    box-shadow: 0 4px 10px 5px rgba(0,0,0,0.1);
}

.blink-smooth {
  animation: blink_smooth 5s infinite;
}

.pulse {
    animation: pulse 1s;
    animation-timeline: view();
}

.slideDown {
    animation: slideDown 1s;
    animation-timeline: view();
}

@keyframes blink_smooth {
  0%, 10%, 20%, 100% {
    opacity: 1;
  }
  5%, 15% {
    opacity: 0;
  }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}